body {
    background-color: khaki;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: larger;
    
}
.img { max-width: 3px;
 margin-right: auto;
 height: 5px;
 display: flex;
 
 
}
.container {align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    
    

}
.container1{align-items: left;
    justify-content: left;
    display: flex;
    text-align: left;

} 

    
   

